@charset "utf-8";
body {
	background-image: url(assets/img/bg.jpg);
	background-repeat: repeat;
	background-position: 100% 100%;
}
#contanier {
	background-color: #FFF;
	height: auto;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	border: 1px solid #CCC;
	border-radius:5px;
}
#header {
	height: 150px;
	width: 100%;
}
#logo {
	height: 150px;
	width: 189px;
	float: left;
}
#menu {
	background-image: url(assets/img/bgMenu.png);
	background-repeat: no-repeat;
	height: 40px;
	width: 790px;
	float: left;
	margin-top: 55px;
}
#contanier #header #menu ul li a {
	text-decoration: none;
	height: 40px;
	width: 110px;
	float: left;
	line-height: 40px;
	display: block;
	font-weight: bold;
	color: #090;
	text-align: center;
}
#contanier #header #menu ul li a:hover {
	color: #000;
}

#contanier #header #menu ul {
	padding: 0px;
	list-style-type: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
}

#clear-header {
	clear: both;
}
#banner {
	height: 315px;
	width: 980px;
	margin-top: 10px;
	background-image: url(assets/img/bgSlide.png);
	background-repeat: no-repeat;
	background-position: bottom;
}
#divider {
	background-image: url(assets/img/divider.png);
	background-repeat: no-repeat;
	height: 26px;
	width: 980px;
	margin-top: 10px;
}
#content {
	height: 200px;
	width: 980px;
	margin-top: 10px;
}
#content-left {
	background-color: #EFE8CE;
	height: 198px;
	width: 288px;
	border: 1px solid #CCC;
	float: left;
	font-size: 14px;
	text-align: justify;
	padding-right: 5px;
	padding-left: 5px;
	border-radius:5px;
}


#content-center {
	height: 200px;
	width: 300px;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
	background-image: url(assets/img/urun.png);
	background-repeat: no-repeat;
	border-radius:5px;
	transition: all 1s;
}
#content-center:hover {
	background-image:url(assets/img/urun2.jpg);
	width:300px;
	height:200px;
}
#content-right {
	background-image: url(assets/img/franchising.png);
	background-repeat: no-repeat;
	height: 200px;
	width: 340px;
	float:left;
	border-radius:5px;
	transition: all 1s;
}
#content-right:hover {
	background-image:url(assets/img/urun3.png);
	width:340px;
	height:200px;
}
#contanier #content #content-left h1 {
	font-size: 14px;
	margin-top: 0px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #000;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}
#clear-content {
	clear: both;
}
#alt {
	height: 26px;
	width: 980px;
	background-color: #333;
	color: #FF0;
	line-height: 26px;
	text-align: center;
	margin-top: 10px;
	border-radius:5px;
}
#contanier #alt a {
	text-decoration: none;
	color: #FF0;
}
#contanier #alt a:hover {
	color: #F00;
}
