body
{
	margin:0px;
	padding: 0px;
}
.tasiyici
{
	width: 80%;
	float: left;
	margin-left: 10%;
	margin-top: calc(50vh - 50px);
}
.kirmizi,.mavi
{
	width: 50%; 
	height: 100px;
	float: left;
}
.kirmizi
{
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}
.mavi {
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

body
{
	animation-name: bg;
	animation-duration: 1s;
	animation-timing-function:ease;
	animation-iteration-count:infinite;
}
@keyframes bg
{
	0% {background: #f5f5f5 }
	100% {transform: #fff  }
}	