   {
            margin:0px;
            padding:0px;
        }
        header
        {
            float: left;
            width: 100%;
            height: 100px;
            margin-top: 15px;
            overflow: hidden;
        }
        header nav
        {
            float: left;
            width: 750px;
            height: 100px;
            margin-left: calc(50vw - 375px);
        }
        header nav a
        {
            float: left;
            width: 150px;
            height: 50px;
            text-decoration: none;
            color:#000;
            background: #f5f5f5;
            text-align: center;
            line-height: 50px;
            font-size: 17px;
            transition:all 500ms;
            position: relative;
            z-index: 1;
        }
        header nav a:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scaleY(0);
            transform-origin: bottom center;
            background: black;
            color:#fff;
            z-index: -1;
            transition: transform 0.5s;
        }
        header nav a:hover::after {
            transform: scaleY(1);
        }
        header nav a:hover
        {
            color:#fff;
        }
