		body {
     background-color: #fff;
     -webkit-animation: random 1s infinite;
     animation: random 1s infinite;
      }
@keyframes  random {
    5% { background-color: #FF0000; } 
    10% { background-color: #FFFF00; } 
    15% { background-color: #008000; } 
    20% { background-color: #0000FF; }
    25% { background-color: #FF1493; }
    30% { background-color: #808080; }
    35% { background-color: #A52A2A; }
    40% { background-color: #800000; }
    45% { background-color: #A52A2A; }
    55% { background-color: #BC8F8F; }
    60% { background-color: #BDB76B; }
    65% { background-color: #9ACD32; }
    70% { background-color: #F0E68C; }
    75% { background-color: #90EE90; }
    80% { background-color: #FF69B4; }
    85% { background-color: #C71585; }
    90% { background-color: #7CFC00; }
    95% { background-color: #98FB98; }
    100% { background-color:#E0FFFF; }
}