    body
    {
        background: #000;
    }
    .earth
    {
        background-image: url("https://user-images.githubusercontent.com/25087769/63363428-3986b000-c37c-11e9-9a57-6c62d4adc606.png");
        width: 400px;
        height: 400px;
        margin-left:calc(50vw - 200px);
        margin-top: calc(50vh - 200px);
        border-radius: 50%;
        animation-name: turn;
        animation-duration: 2s;
        animation-timing-function:ease;
        animation-iteration-count:infinite;
    }
    @keyframes turn
    {
        0% {transform: rotate(0deg);  }
        5% {transform: rotate(18deg);  }
        10% {transform: rotate(36deg);  }
        15% {transform: rotate(54deg);  }
        20% {transform: rotate(72deg);  }
        25% {transform: rotate(90deg);  }
        30% {transform: rotate(108deg);  }
        35% {transform: rotate(126deg);  }
        40% {transform: rotate(144deg);  }
        45% {transform: rotate(162deg);  }
        50% {transform: rotate(180deg);  }
        55% {transform: rotate(198deg);  }
        60% {transform: rotate(216deg);  }
        65% {transform: rotate(234deg);  }
        70% {transform: rotate(252deg);  }
        75% {transform: rotate(270deg);  }
        80% {transform: rotate(288deg);  }
        85% {transform: rotate(306deg);  }
        90% {transform: rotate(324deg);  }
        95% {transform: rotate(342deg);  }
        100% {transform: rotate(360deg);}
    }